{% extends "layout.html" %}
{% block body %}
  <article> 
    <h1>About</h1>
    <p>Manifestwho is a quiz about UK political manifestos. It's mainly supposed to be fun (for a niche, political kind of fun). It's also a little experiment into how well people can recognise messages from manifestos - we've got a suspicion it's quite hard.</p>
    <p>Feedback is very welcome - feel free to reach out on Twitter <a href="http://twitter.com/manifestwho">@manifestwho</a> or send a <a href="http://github.io">pull request</a> if that's your thing.</p>
    <hr>
    <p>Manifestwho is <a href="https://github.com/JennyBrennan/manifestwho">open source</a>. It was first developed <a href="http://jennybrennan.com">Jenny</a>, with plenty of <strong>thanks</strong> to: Tom, Tom, Daniel and Nik who played the first version of this live over dinner and frankly came up with the idea; Ben for suggesting collecting party affiliation or voting intention to gain deeper insights.</p>
    
    <hr>
    <p>Still have questions? See the <a href="/faq">FAQ</a>.</p>
  </article>
{% endblock %}