{% extends "layout.html" %}
{% block body %}
    <h1>Before your results</h1>
    <p>Help us better understand how people perceive political parties, by answering a quick question:</p>
    <h3>Which political party do you most identify with?</h3>
    <form method="POST" class="affiliation">
      <select name="party_affiliation">
        {% for party in parties %}
          <option value={{ party.party_id }}>{{ party.party_name }}</option>
        {% endfor %}
        </select>
      <button type="submit">Submit</button>
    </form>

{% endblock %}