{% extends "layout.html" %}
{% block body %}
  <article> 
    <h1>Findings from GE2019</h1>
    <p>Between 4th December 2019 and 13th December 2019, there were <strong>423</strong> attempts at the quiz.</strong></p>
    <p>Each quiz randomly presents 8 of the <a href="#">25 available questions</a>. <strong>91%</strong> of attempts saw all 8 questions answered.</p>
    <p>For the sake of these stats, we're considering each 'attempt' at the quiz a person, but in practice some people may have done the quiz twice, or with friends. For stats on total scores on the quiz, we limit the dataset to the 386 'people' who completed 8 questions. For stats on individual questions we include partially answered quizzes.</p>
    <h2>How did people score?</h2>
    <canvas id="quizScores" width="400" height="200"></canvas>  
    <h2>Party affiliation of respondents</h2>
    <canvas id="partyAffiliation" width="300" height="300"></canvas>  
 </article>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="{{ url_for('static', filename='findings.js') }}"></script>
{% endblock %}