{% extends "layout.html" %}
{% block body %}
    <h2>"{{ quotation.quotation }}"</h2>
    <small>Which manifesto is this from?</small>
    {% for party in parties %}
        {% if (party.party_id != 7 and party.party_id != 2) %} {# Do not include UKIP or Change UK. These were previously options for the EU elections quiz. #}
            <form method="POST" class="quiz">
                <input type="hidden" name="quotation_id" value="{{ quotation.quotation_id }}">
                <button type="submit" id="party" name="party" value="{{ party.party_id }}" class="button">{{ party.party_name }}</button>
            </form>
        {% endif %}
    {% endfor %}
    <div class="progress-bar">
        <div class="progress" style="width:{{ (answered_count + 1) / 8 * 100 }}%"></div>
    </div>
    <small>Question {{ answered_count + 1 }} / 8</small>
    <br>
    <small>Why are/aren't some parties listed? See our <a href="/faq">FAQ</a>.</small>

{% endblock %}