{% extends "layout.html" %}
{% block body %}
    <h2>"{{ quotation.quotation }}"</h2>
    <small>Which manifesto is this from?</small>
    {% for party in parties %}
        {% if party.party_id != 3 %} {# Hide Conservatives as an option as they did not produce an EU elections manifesto #}
            <form method="POST" class="quiz">
                <input type="hidden" name="quotation_id" value="{{ quotation.quotation_id }}">
                <button type="submit" id="party" name="party" value="{{ party.party_id }}" class="button">{{ party.party_name }}</button>
            </form>
        {% endif %}
    {% endfor %}
    <small>Why aren't the Conservatives listed? See our <a href="/faq">FAQ</a>.</small>

{% endblock %}